:root {
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

@media (min-width:900px){
    .rec {
        display: block;
        margin-right: 65vw;
        width: 7vw;
        height: 2.5rem;
    }
    .home {
        width: 7vw;
        height: 2.5rem;
    }
    .search {
        width: 15vw;
    }
    span {
        display: block;
    }
}
@media (max-width:900px){
    header {
        height: 25vh;
        display:flex;
        flex-direction: column;
        align-items:flex-start;
    }
    .rec {
        margin-top: 6px;
        width: 90px;
        height: 100px;
        z-index: 1;
    }
    .home {
        width: 90px;
        height: 100px;
    }
    .search {
        z-index: 0;
        margin-top:10px;
    }
    
    span {
        display:none;
    }
}


* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    z-index: -1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-color);
    margin: 0;
    height: 100vh;
}

header {
    padding: 1rem;
    display: flex;
    background-color: var(--secondary-color);
}

footer {
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin: 0;
    color: #fff;
    display: flex;
    height: 5vh;
    background-color: var(--secondary-color);
    width: 100vw;

}

span {
    position: absolute;
    right: 20px;
    bottom:5px;
}

.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline: none;
    background-color: var(--primary-color);
}

.home {
    margin-left: 0.2rem;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    color: #fff;
}

.home:active {
    background-color: var(--primary-color);
}

.rec {
        margin-left: 0.2rem;
        background-color: transparent;
        border: 2px solid var(--primary-color);
        border-radius: 5px;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        padding-top: 10px;
        color: #fff;
        
}
.rec:active {
    background-color: var(--primary-color);
}


main {
    display: flex;
    flex-wrap: wrap;
    padding-left:5%;
}

.movie {
    width: 300px;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: lightgreen;
}
.movie-info span.orange {
    color: orange;
}
.movie-info span.red {
    color: red;
}

.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}

.hyperlink {
    color: black;
    text-decoration: underline;
    font-size: 14px;
}